@font-face {
    font-family: 'bodoni-moda';
    src: url('/fonts/bodoni_moda.ttf') format('truetype');
    font-display: swap;
}

body {
    width: 100%;
    /* Fills the screen on mobile */
    max-width: 80ch;
    /* Prevents text from stretching too wide on desktop (~65 characters wide) */
    margin: 0 auto;
    /* Centers the content block on desktop */
    padding: 0 1rem;
    /* Adds a little breathing room on the left/right for mobile edges */

    background-color: #FFF4DE;
    font-family: "bodoni-moda", "Didot", "Bodoni MT", serif;
}

/* NAV BAR START */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
    justify-content: center;
}

ul li {
    flex: 1; 
    font-size: 1.5em;
}

ul li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

ul li a:hover {
    background-color: #ffebc4;
}

/* NAV BAR END */

h1 {
    width: 130%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    font-size: 7em;
    line-height: 1.1;
    text-align: center;

    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

h2 {
    font-size: 5em;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

nav {
    display: flex;
    align-items: center;       /* Vertically centers the logo and the menu */
    width: 100%;
    padding: 14px 16px;
}

nav a {
    display: flex;
    align-items: center;
    height: 100%;              /* Matches the natural height of the navbar */
    padding-right: 24px;       /* Simple, clean breathing room before the links start */
}

nav a img {
    height: 3em;             /* Keeps the logo clean and proportional to the text size */
    width: auto;
    display: block;
}

p {
    font-optical-sizing: none;
    font-size: 1.3em;
    text-align: justify;
}